<nav class="h-full border-l border-solid border-black" aria-label="Nav Menu">
    <div class="w-full h-max flex flex-col justify-around items-center nav-menu p-1">
        <mat-action-list class="w-full">
            <ng-container class="w-full" *ngFor="let menuLink of menuLinks">
                <ng-container *ngIf="menuLink.requiresLogin == false || this.user.loggedIn">
                        <ng-container *ngIf="menuLink.requiresEditor == false || (this.user.role == 'Owner' || this.user.role == 'Editor' || this.user.role == 'Admin')">
                            <ng-container *ngIf="menuLink.requiresAdmin == false || (this.user.role == 'Owner' || this.user.role == 'Admin')">
                                <ng-container *ngIf="menuLink.requiresOwner == false || this.user.role == 'Owner'">
                                    <mat-list-item class="w-full my-1 center-text" (click)="navigate(menuLink.path)" aria-label="Navigation Button">
                                        <span matListItemLine class="w-full text-center">
                                            {{ menuLink.label }}
                                        </span>
                                    </mat-list-item>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="!this.user.loggedIn">
                    <mat-list-item class="w-full text-center">
                        <span matListItemLine (click)="navigate('/login')" aria-label="Login Button">Login</span>
                    </mat-list-item>
                    <mat-list-item class="w-full text-center">
                        <span matListItemLine (click)="navigate('/register')" aria-label="Register Button">Register</span>
                    </mat-list-item>
                </ng-container>
                <!-- only show profile/logout buttons if user is logged in-->
                <ng-container *ngIf="this.user.loggedIn">
                    <mat-list-item class="w-full text-center">
                        <span matListItemLine (click)="logout()" aria-label="Logout Button">Logout</span>
                    </mat-list-item>
                </ng-container>
        </mat-action-list>
    </div>
</nav>